img.book-list-icon {
    width: 50px;
    height: 50px;
}

.book-list{
    list-style-type: none;
}

.book-list > li {
    width: fit-content;
}

.book {
    margin-top: 20px;
    font-size: larger;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    height: 40px;
}

.book::before {
    content: '';
    background-image: url(../../images/book-icon-light.png);
    background-size: 40px 40px;
    display: inline-block;
    width: 40px; 
    height: 40px;
    margin-right: 10px;
    transition: background-image 0.5s ease;
}

.book > a{
    text-decoration: none;
    font-weight: bolder;
    color: #000;
}

.book:hover::before{
    content: '';
    background-image: url(../../images/book-icon-dark.png);
    background-size: 40px 40px;
    display: inline-block;
    width: 40px; 
    height: 40px;
    margin-right: 10px;
}

.add-book {
    margin-top: 20px;
    font-size: larger;
    display: flex;
    align-items: center;
    height: 40px;
}

.add-book > a{
    text-decoration: none;
    font-weight: bolder;
    color: #000;
}

.add-book::before {
    content: '';
    background-image: url(../../images/add-icon-light.svg);
    background-size: 40px 40px;
    display: inline-block;
    width: 40px; 
    height: 40px;
    margin-right: 10px;
    transition: background-image 0.5s ease;
}

.add-book:hover::before{
    content: '';
    background-image: url(../../images/add-icon-dark.svg);
    background-size: 40px 40px;
    display: inline-block;
    width: 40px; 
    height: 40px;
    margin-right: 10px;
}
