{% extends "base.html" %} 
{% load static %}
{% block title %}Chapters{% endblock %}
{% block style %} 
<link rel="stylesheet" href="{% static 'website/css/grammar/chapters.css' %}">
{% endblock %} 
{% block content %} 

<h1>
    <img class="chapter-list-icon" src="{% static 'website/images/category.svg' %}" alt="book-list">
    List of Chapters
</h1>
<ul class="chapter-list">
    <li class="chapter">
        <a href="{% url 'grammar:book' %}">Preposition</a>
    </li>
    <li class="chapter">
        <a href="#!">Subject verb Argeement</a>
    </li>
    <li class="chapter">
        <a href="#!">Adverb</a>
    </li>
    <li class="chapter">
        <a href="#!">Noun</a>
    </li>
    <li class="add-chapter">
        <a href="#!">Add More Chapter</a>
    </li>
</ul>

{% endblock %}