{% extends "base.html" %}
{% load static %}
{% block style %} 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{% static 'website/css/grammar/pdf-viewer.css' %}">
{% endblock %}
{% block content %}
<div class="top-bar">
    <button class="btn" id="prev-page">
        <i class="fas fa-arrow-circle-left"></i> Prev Page
    </button>
    <button class="btn" id="next-page">
        Next Page <i class="fas fa-arrow-circle-right"></i>
    </button>
    <span class="page-info">
        Page <span id="page-num"></span> of <span id="page-count"></span>
    </span>
    <form onsubmit="return goto(event)" id="goto-div">
        <label for="goto-page-num">Go to page: </label>
        <!-- <input type="number" id="goto-page-num" min="1" max="111"> -->
        <input type="number" id="goto-page-num">
        <button id="go">Go</button>
    </form>
    <div class="scale-ctrl">
        <button class="scale-ctrl-btn" id="scale-incr">
            <i class="fas fa-plus"></i>
        </button>
        <span id="current-scale"></span>%
        <button class="scale-ctrl-btn" id="scale-decr">
            <i class="fas fa-minus"></i>
        </button>
    </div>

</div>
<canvas id="pdf-render"></canvas>

<script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
<!-- <script src="{% static 'website/js/pdf-viewer.js' %}"></script> -->
<script>
    // const url = '../docs/pdf.pf';
    const url = "{% static 'pdf/oxford_idioms.pdf' %}";
    const gotoPageNum = document.getElementById('goto-page-num');
    const currentScale = document.getElementById('current-scale');
    const scaleIncrBtn = document.getElementById('scale-incr');
    const scaleDecrBtn = document.getElementById('scale-decr');

    pdfjsLib.GlobalWorkerOptions.workerSrc = '//mozilla.github.io/pdf.js/build/pdf.worker.js';

    let pdfDoc = null,
        pageNum = 1,
        pageIsRendering = false,
        pageNumIsPending = null,
        scale = 1.0;

    const canvas = document.querySelector('#pdf-render'),
        ctx = canvas.getContext('2d');

    // Render the page 
    const renderPage = num => {
        pageIsRendering = true;

        pdfDoc.getPage(num).then(page => {
            const viewport = page.getViewport({ scale });
            canvas.height = viewport.height;
            canvas.width = viewport.width;
            const renderCtx = {
                canvasContext: ctx,
                viewport
            }
            page.render(renderCtx).promise.then(() => {
                pageIsRendering = false;
                if (pageNumIsPending !== null) {
                    renderPage(pageNumIsPending);
                    pageNumIsPending = null;
                }
            });
        })
        // Output current page 
        document.querySelector('#page-num').textContent = num
    }

    // Check for pages rendering 
    const queueRenderPage = num => {
        if (pageIsRendering) {
            pageNumIsPending = num;
        } else {
            renderPage(num);
        }
    }

    //Show Prev Page
    const showPrevPage = () => {
        if (pageNum <= 1) {
            return;
        }
        pageNum--;
        queueRenderPage(pageNum);
    }
    document.querySelector('#prev-page').addEventListener('click', showPrevPage);

    //Show Next Page
    const showNextPage = () => {
        if (pageNum >= pdfDoc.numPages) {
            return;
        }
        pageNum++;
        queueRenderPage(pageNum);
    }
    document.querySelector('#next-page').addEventListener('click', showNextPage);

    // Get the Dcoument 
    pdfjsLib.getDocument(url).promise.then(function (pdfDoc_) {
        pdfDoc = pdfDoc_;
        document.querySelector('#page-count').textContent = pdfDoc.numPages;
        gotoPageNum.min = 1;
        gotoPageNum.max = pdfDoc.numPages;
        currentScale.textContent = 100;
        renderPage(pageNum);
    }).catch(err => {
        //display error
        const div = document.createElement('div');
        div.className = "error";
        div.appendChild(document.createTextNode(err.message));
        document.querySelector('body').insertBefore(div, canvas);
        // remove top-bar
        document.querySelector('.top-bar').style.display = 'none';
    })
    const goto = (e) => {
        e.preventDefault();
        if (gotoPageNum) {
            pageNum = +(gotoPageNum.value);
            renderPage(pageNum)
        }
        return false;
    }

    scaleIncrBtn.addEventListener('click', () => {
        if (scale <= 1.95) {
            scale = scale + 0.05;
            renderPage(pageNum)
            currentScale.textContent = parseInt(scale * 100);
        }
    })
    scaleDecrBtn.addEventListener('click', () => {
        if (scale * 100 < 50) {
            return;
        }
        scale = scale - 0.05;
        renderPage(pageNum)
        currentScale.textContent = parseInt(scale * 100);
    })
</script>
{% endblock %}