.continue-reading__book-name{
    font-size: 30px;
}

.continue-reading__logo{
    width: 50px;
    height: 50px;
    transition: all 0.5s ease;
    /* border: 1px solid black; */
}
.continue-reading__link{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;
    color: #000;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    height: 50px;
    padding: 0;
    margin: 0;
    /* width: 400px; */
    color: #000;
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.5s ease;
}

.continue-reading__link:hover{
    color: #fff;
    background-color: #000;
}

.continue-reading__link:hover .continue-reading__logo{
    filter: invert();
}

.text-center{
    text-align: center;
}